@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Your Closet!</h1>
    <p class="lead">Through the use of CamTech technology, your entire wardrobe has been digitized and made available through remote modular query!</p>
</div>

<div class="row">
    <div class="col-xs-12, col-sm-12,col-md-6,col-lg-3">
        <h2>Your Closet</h2>
        <p>
            This is an entirely virtual space, crafted solely for your use and pleasure. Objects are no longer physical, 
            but can be manifested into a physical plane through use of hardlight projections. Do not attempt to re-sell
            any materials for they will disperse upon removal from person of use. 
        </p>
        <p class="btn-default">@Html.ActionLink("Head On In!", "Index", "Outfits")</p>
    </div>

</div>

<div class="row">
    <div class="col-xs-12, col-sm-12,col-md-6,col-lg-3">
        <img src="~/Content/Images/ImgShirt.jpg" />
    </div>

    <div class="col-xs-12, col-sm-12,col-md-6,col-lg-3">
        <img src="~/Content/Images/SpacePants.jpg" />
    </div>

    <div class="col-xs-12, col-sm-12,col-md-6,col-lg-3">
        <img src="~/Content/Images/shoes.jpg"
    </div>
</div>